.race-wrapper {
    display: none;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.race-wrapper button {
    position: absolute;
    height: 10%;
    width: 20%;

    transition: transform 150ms, box-shadow 150ms, width 500ms, font-size 500ms;
}

.race-wrapper button.disappear {
    width: 0;
    font-size: 0;
}

.race-wrapper div {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.race-wrapper .user {
    border-right: 2px #121212 dashed;
}

.race-wrapper div .notifier {
    width: 50%;
    height: 40%;
    
    background-color: #e74c3c;
    box-shadow: 0 1.5vh #c0392b;
    margin: auto;
    border-radius: 8%;

    transition-property: box-shadow, background-color;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

div .notifier.ready {
    background-color: #2ecc71;
    box-shadow: 0 1.5vh #27ae60;
}

.race-wrapper div .notifier span {
    width: 80%;
    text-align: center;
    color: white;
    font-size: 3vw;
    text-transform: uppercase;
}