@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

body {
    background-color: #ece8e1;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper div {
    width: 100%;
    height: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.wrapper .join input {
    width: 80%;
    height: 15%;
    margin: 0 0 4% 0;
    font-size: 1vw;
    outline: none;

    transition-property: border, background-color;
    transition-duration: 200ms;
}

.wrapper .join input.declined {
    border: 1px solid #e74c3c;
    background-color: #c03a2b2e;
}

.ready {
    background-color: #e67e22;
    box-shadow: 0 2vh #d35400;
}

.create-party {
    background-color: #2ecc71;
    box-shadow: 0 2vh #27ae60;
}

.join-party {
    background-color: #e74c3c;
    box-shadow: 0 2vh #c0392b;
}

.ready.clicked {
    box-shadow: 0 0 #d35400;
}
.create-party.clicked {
    box-shadow: 0 0 #27ae60;
}
.join-party.clicked {
    box-shadow: 0 0 #c0392b;
}

.action {
    color: white;
    
    font-size: 2vw;
    width: 80%;
    height: 40%;
    outline: none;
    border: none;

    transition-property: box-shadow, transform;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.error {
    color: #e74c3c;
    font-size: 1.1vw;
}

.action.clicked {
    transform: translateY(2vh);
}